{% extends 'base.html' %}

{% block content %}

<div class="container">

    {{ taxs }}
    {{ funcs }}
    {{ cpds }}
    {{ rxns }}
    {{ enzs }}
    {{ taxonomy_ranks }}
    {{ min_score }}
    {{ max_score }}

    <nav>
      <div class="nav nav-tabs" id="resul-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-funcs-tab" data-toggle="tab" href="#nav-funcs" role="tab" aria-controls="nav-funcs" aria-selected="true">Funcs ({{ all_funcs | length }})</a>
        <a class="nav-item nav-link" id="nav-taxonomies-tab" data-toggle="tab" href="#nav-taxonomies" role="tab" aria-controls="nav-taxonomies" aria-selected="false">Taxonomies ({{ taxonomies | length }})</a>
        <a class="nav-item nav-link" id="nav-lineages-tab" data-toggle="tab" href="#nav-lineages" role="tab" aria-controls="nav-lineages" aria-selected="false">Lineages ({{ lineages | length }})</a>
        <a class="nav-item nav-link" id="nav-pathways-tab" data-toggle="tab" href="#nav-pathways" role="tab" aria-controls="nav-pathways" aria-selected="false">Pathways ({{ pathways | length }})</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-funcs" role="tabpanel" aria-labelledby="nav-funcs-tab">
          {% for func in all_funcs %}
              <li>{{ func }}</li>
          {% endfor %}
      </div>
      <div class="tab-pane fade" id="nav-taxonomies" role="tabpanel" aria-labelledby="nav-taxonomies-tab">
          {% for taxonomie in taxonomies %}
              <li>{{ taxonomie }}</li>
          {% endfor %}
      </div>
      <div class="tab-pane fade" id="nav-lineages" role="tabpanel" aria-labelledby="nav-lineages-tab">
          {% for lineage in lineages %}
              <li>{{ lineage }}</li>
          {% endfor %}
      </div>
      <div class="tab-pane fade" id="nav-pathways" role="tabpanel" aria-labelledby="nav-pathways-tab">
          {% for pathway in pathways %}
              <li>{{ pathway }}</li>
          {% endfor %}
      </div>
    </div>

</div>
{% endblock %}
